body {
    background-color: #aadaed;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    color: #1b5583;
    font-family: 'Times New Roman', Times, serif;
    font-size: 26x
}

body header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}





/* Clases */
.enlaces {
    text-align: center;
}

.caja-titulo {
    display: flex;
    justify-content: center;
}

.logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    display: block;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
    display: none;
    /* Ocultar en desktop */
}
.contenedor-lab {
    display: flex; flex-direction: column;align-items: center;
}
.contenedor-flex {
    display: flex;
    justify-content: space-evenly;
}

.correcion-caja {
    padding-left: 170px;
}

.caja-grande-lab {
    display: flex; 
    justify-content: center;

}
.caja-padd { 
    padding: 10px 10px 10px 10px;
}
.flex-box {
    display: flex;
    justify-content: space-evenly;
}

#footer {
    text-align: center;
}

.formulario {
    display: block;
}

.nav {
    display: flex;
    justify-content: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    margin: 0 10px;
}


@media (max-width: 768px) {
    .menu-icon {
        display: block;
        /* Mostrar en mobile */
    }

    .logo {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 15px;
        display: none;
    }

    .nav {
        display: none;
        /* Ocultar el menú por defecto */
        flex-direction: row;
        top: 60px;
        /* Posicionar debajo del header */
        left: 0;
        right: 0;
        background-color: #b4b4b400;
    }

    .nav.active {
        display: flex;
        /* Mostrar cuando está activo */
    }

    .nav ul {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul li {
        margin: 10px 0;
    }

    .contenedor-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .flex-box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .caja-grande-lab {
        display: flex; 
        flex-direction: column !important;
    
    
    }
}



.caja {
    width: 500px;
    /* Ancho fijo */

    text-overflow: ellipsis;
    /* Agrega "..." si es necesario (solo si se usa con nowrap) */

}

.footer { display: block;}